#================================connectivity wifi related start========================================
#ifdef OPLUS_FEATURE_WIFI_SWITCH
#fangbinghua@CONNECTIVITY.WIFI.HARDWARE 2023/09/04, add for adb reboot wlan ko reload
on property:sys.oplus.wifi.driver.reload=1
   start wifiDriverReload

service wifiDriverReload /odm/bin/wlan_ko_insmod.sh
    class main
    user root
    group root system
    disabled
    stdio_to_kmsg
    seclabel u:r:vendor_modprobe:s0
    oneshot
#endif /* OPLUS_FEATURE_WIFI_SWITCH */

#ifdef OPLUS_FEATURE_WIFI_DUMP
#JiaoBo@CONNECTIVITY.WIFI.BASIC.LOG.1162003, 2018/7/02
#add for wifi dump related log collection and DCS handle, dynamic enable/disable wifi core dump, offer trigger wifi dump API.
on property:oplus.wifi.dump.needupload=1
    start clearWifiDumpFile

on property:oplus.wifi.dump.logcollect=1
    start clearWifiDumpFile

on property:sys.oplus.wifi.dump.trigger=1
    start triggerwifidump
    setprop sys.oplus.wifi.dump.trigger 0

service triggerwifidump /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "triggerwifidump"
    class main
    user root
    group root misc wifi
    disabled
    oneshot

service clearWifiDumpFile /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh clearWifiDumpFile
    class main
    user root
    group root misc wifi
    disabled
    oneshot
#endif /* OPLUS_FEATURE_WIFI_DUMP */

#ifdef OPLUS_FEATURE_WIFI_RUSUPGRADE
#JiaoBo@CONNECTIVITY.WIFI.BASIC.HARDWARE.2795386, 2020/02/20
#add for: support auto update function, include mtk fw, mtk wifi.cfg, qcom fw, qcom bdf, qcom ini
#bootup check
service rusWifiPreBootCheck /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh rusWifiVendorVerBootCheck
    user root
    group root system misc wifi
    class late_start
    oneshot

#single entity(objs) upgrade
on property:oplus.wifi.rus.upgrade.ctl=2
    start rusWifiObjsPreUpgrade

service rusWifiObjsPreUpgrade /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh rusWifiVendorVerUpgradeCheck
    class main
    user root
    group root misc wifi
    disabled
    oneshot
#endif /* OPLUS_FEATURE_WIFI_RUSUPGRADE */

#ifdef OPLUS_WIFI_POWER_DYNAMIC_PCIE_GEN_SWITCH
#fangbinghua@CONNECTIVITY.WIFI.HARDWARE.POWER, 2024/0/02, add for pcie gen switch
on property:sys.oplus.pci.speed=*
    setprop vendor.oplus.pci.speed ${sys.oplus.pci.speed}

on property:vendor.oplus.pci.speed=normal
    start pciSpeedNormal

on property:vendor.oplus.pci.speed=high
    start pciSpeedHigh

service pciSpeedNormal /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "pcie_switch_to_normal_speed"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot

service pciSpeedHigh /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "pcie_switch_to_high_speed"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot
#endif OPLUS_WIFI_POWER_DYNAMIC_PCIE_GEN_SWITCH

#ifdef OPLUS_FEATURE_WIFI_LOG
#YuanZhiqiang@CONNECTIVITY.WIFI.HARDWARE.LOG.5916929,2023/07/18, Add for enable QCOM wifi BTC log
on property:persist.sys.wifibtclog.state=true
    start enablebtclog

on property:persist.sys.wifibtclog.state=false
    start disablebtclog

service enablebtclog /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "enablebtclog"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot

service disablebtclog /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "disablebtclog"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot
#endif /* OPLUS_FEATURE_WIFI_LOG */

#ifdef OPLUS_FEATURE_WIFI_LOG
#liuhaifeng@CONNECTIVITY.WIFI.HARDWARE.QMS.7499826, 2024/06/25, Add qms log capture switch
on property:persist.sys.oplus.wifi.qms_setting=*
    setprop persist.vendor.oplus.wifi.qms_setting ${persist.sys.oplus.wifi.qms_setting}

on property:persist.vendor.oplus.wifi.qms_setting=1
    write /dev/kmsg "qmslogon begin"
    copy /odm/etc/wifi/qms_log_config /data/vendor/qms_logs/config/qms_log_config
    chmod 666 /data/vendor/qms_logs/config/qms_log_config
    write /dev/kmsg "qmslogon end"

on property:persist.vendor.oplus.wifi.qms_setting=0
    write /dev/kmsg "qmslogoff begin"
    rm /data/vendor/qms_logs/config/qms_log_config
    chmod 770 /data/vendor/qms_logs
    chmod 770 /data/vendor/qms_logs/main
    chmod 770 /data/vendor/qms_logs/other
    chmod 770 /data/vendor/qms_logs/config
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_00
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_01
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_02
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_03
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_04
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_05
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_06
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_07
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_08
    chmod 770 /data/vendor/qms_logs/main/qms_log_p0_09
    chmod 770 /data/vendor/qms_logs/other/qms_log_p1_00
    chmod 770 /data/vendor/qms_logs/other/qms_log_p1_01
    chmod 770 /data/vendor/qms_logs/other/qms_log_p1_02
    chmod 770 /data/vendor/qms_logs/other/qms_log_p2_00
    chmod 770 /data/vendor/qms_logs/other/qms_log_p2_01
    chmod 770 /data/vendor/qms_logs/other/qms_log_p2_02
    chmod 770 /data/vendor/qms_logs/other/qms_log_qsap_qms_0_00
    chmod 770 /data/vendor/qms_logs/other/qms_log_qsap_qms_0_01
    chmod 770 /data/vendor/qms_logs/other/qms_log_qsap_qms_0_02
    write /dev/kmsg "qmslogoff end"
#endif /* OPLUS_FEATURE_WIFI_LOG */

#CaoShifeng@CONNECTIVITY.WIFI.HARDWARE.7129504,2024/06/17, Add for enable QCOM wifi fixrate
on property:sys.wifi.max_tx_rate.value=*
    setprop vendor.wifi.max_tx_rate.value ${sys.wifi.max_tx_rate.value}

on property:sys.wifi.max_tx_rate.state=true
    start enablefixrate

on property:sys.wifi.max_tx_rate.state=false
    start disablefixrate

service enablefixrate /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "enablefixrate"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot

service disablefixrate /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "disablefixrate"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot

on property:sys.wifi.fixed.txpower=*
    setprop vendor.wifi.fixed.txpower ${sys.wifi.fixed.txpower}

on property:vendor.wifi.fixed.txpower=*
    start wifiFixedTxpower

service wifiFixedTxpower /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh wifiFixedTxpower
    class main
    user root
    group root system misc wifi
    disabled
    oneshot

#ifdef OPLUS_FEATURE_WLAN_LOW_LATENCY
#YangJiang@CONNECTIVITY.WIFI.NETWORK.7158651,2024/05/15, Add for Media Boost LLM
on property:sys.oplus.wifi.mediaboost.qcom.normalRA=true
    start disableRAControlInULLMode

on property:sys.oplus.wifi.mediaboost.qcom.normalRA=false
    start enableRAControlInULLMode

service disableRAControlInULLMode /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "disableRAControlInULLMode"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot

service enableRAControlInULLMode /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "enableRAControlInULLMode"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot
#endif /* OPLUS_FEATURE_WLAN_LOW_LATENCY */

#ifdef OPLUS_FEATURE_WIFI_BEAM_SWITCH
#YangJiang@CONNECTIVITY.WIFI.NETWORK.8255777,2024/9/12, add for beam switch
on property:sys.oplus.wifi.beamswitch=true
    start setBeamSwitchGPIOHigh

on property:sys.oplus.wifi.beamswitch=false
    start setBeamSwitchGPIOLow

service setBeamSwitchGPIOHigh /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "setBeamSwitchGPIOHigh"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot

service setBeamSwitchGPIOLow /vendor/bin/sh /odm/bin/init.vendor.wifi.autochmod.sh "setBeamSwitchGPIOLow"
    class main
    user root
    group root system misc wifi
    disabled
    oneshot
#endif /* OPLUS_FEATURE_WIFI_BEAM_SWITCH */
#================================connectivity wifi related end==========================================

#================================connectivity bt related start==========================================

#================================connectivity bt related end ===========================================

